In [ ]:
a = 1
a,b = 1,2

In [4]:
print(type(a))

<class 'int'>

In [6]:
a = "Vikas"
print(type(a))

<class 'str'>

In [8]:
'''sum +
Diff - 
Product ^
Division /
Mod %
power **
//

'''
a = 10
b = 5

print(a+b)
print(a - b)
print(a * b)
print(a/b)
print(a%b)
print(a//b)
print(a ** b)

15
5
50
2.0
0
2
100000

In [9]:
'''>
<
==
>=
<=

!=
'''
print(a>b)
print(a<b)
print(a == b)
print(a>=b)
print(a<=b)
print(a!=b)

True
False
False
True
False
True

In [12]:
'''and &
or |
not a
'''
c = 30
print((a>b) and (b>c))
print((a>b) or (b>c))
print(not(a>b))

False
True
False

In [18]:
x = input("value =" )

In [15]:
x
type(x)

str

In [16]:
type(int(x))

int

In [17]:
x = 'True'
bool(x)

True

In [19]:
x

'10'

In [20]:
int(x)+1

11

In [30]:
name = "Vikas"
clss = "10th"
#print("My name is {}. I am in {}".format(name, clss))
print(f'My name is {name}. I am in {clss}')

My name is Vikas. I am in 10th

strip, 
split, 
Find,
len,
upper,
lower,
captilize,
title,
swapcase,
title,
casefold,
replace,
"+ for concatenation", 
join

In [31]:
a = 'x'
b = 'My name is Vikas'
b[0]

'M'

In [32]:
len(b)

16

In [ ]:
b[15]

b[start:end:skip]

's'

In [36]:
b[0:1]

'M'

In [37]:
b[0:5]

'My na'

In [38]:
b[4:10]

'ame is'

In [39]:
b[2:16:2]

' aei ia'

In [40]:
b[-1]

's'

In [41]:
b[-8:-1]

'is Vika'

In [44]:
b[-1:-8:-1]

'sakiV s'

In [ ]:
b = "Malayalam"
b[:] == b[::-1]

In [45]:
str = 'python training'
print(str.upper())
print(str.lower())
print(str.title())
print(str.capitalize())
print(str.casefold())
print(str.swapcase())

PYTHON TRAINING
python training
Python Training
Python training
python training
PYTHON TRAINING

In [48]:
str1 = 'I aM a gOOd bOy'
print(str1.casefold())
print(str1.lower())

i am a good boy
i am a good boy

In [49]:
str = "V#ika#s"
str1 = " Sachin "
str2 = " Virat"
str3 = "Rohit "
str4 = "Vikas Gopalakrishnan"

print(str.replace('#',''))
print(str1.strip())
print(str2.lstrip())
print(str3.rstrip())
print(str4.split(' '))

Vikas
Sachin
Virat
Rohit
['Vikas', 'Gopalakrishnan']

In [50]:
print('vikas', 'Gopalakrishnan')
print('vikas '+ 'Gopalakrishnan')
print(str3.join(str2))

vikas Gopalakrishnan
vikas Gopalakrishnan
 Rohit VRohit iRohit rRohit aRohit t

In [54]:
print(str2)
print(str2*2)
print(str2*3)
print(str2*4)
print(str2*5)

 Virat
 Virat Virat
 Virat Virat Virat
 Virat Virat Virat Virat
 Virat Virat Virat Virat Virat

In [55]:
b = "Malayalam"
b = b.casefold()
if(b[:] == b[::-1]):
    print("Palindrome")
else:
    print("Not a Palindrome")

Palindrome

In [56]:
a = "Sachin Ramesh Tendulkar is an Indian former international cricketer"
print(a.find("Indian"))

30

In [58]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [72]:

str = 'Tendulkar took up cricket at the of eleven, \nmade his Test match debut on 15 November 1989 against Pakistan \nin Karachi at the age of sixteen, \nand went on to represent Mumbai domestically \nand India internationally for over 24 years. \nIn 2002, halfway through his career'
print(str)

Tendulkar took up cricket at the of eleven,
made his Test match debut on 15 November 1989 against Pakistan
in Karachi at the age of sixteen,
and went on to represent Mumbai domestically
and India internationally for over 24 years.
In 2002, halfway through his career

In [73]:
str.find('Mumbai')

169

In [91]:

print(str.replace('.', ''))

Tendulkar took up cricket at the of eleven,
made his Test match debut on 15 November 1989 against Pakistan
in Karachi at the age of sixteen,
and went on to represent Mumbai domestically
and India internationally for over 24 years
In 2002, halfway through his career

In [85]:
print("""someone said, "to err's human, to forgive is divine" """)

someone said, "to err's human, to forgive is divine"