
List is a ordered set of data. 

List is a mutable object. It means that we can add, remove, replace any element in a list. We can perform all arithmatic, logical and comparision operations in a list.

A list can contain any type of data, ex. int, string, float, boolean value. OR a combination of all values. 


To declare a list we need to use the [ ] and each element in a list is separated by a comma.

In [15]:
list = [2, 4, 5, 6, 7, 8, "Vikas", 2.323, True, False, 0, 1, [4, 5, 7, 9, 3]]

In [16]:
list[0]

2

In [17]:
list[0:4]

[2, 4, 5, 6]

In [18]:
list[-6:-1]

[2.323, True, False, 0, 1]

In [19]:
list[2] = 45

In [20]:
list

[2, 4, 45, 6, 7, 8, 'Vikas', 2.323, True, False, 0, 1, [4, 5, 7, 9, 3]]

In [21]:
list.append(46)

In [22]:
list

[2, 4, 45, 6, 7, 8, 'Vikas', 2.323, True, False, 0, 1, [4, 5, 7, 9, 3], 46]

In [23]:
list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
list1 = [4,5,67,32,43,54,23,65,76]

In [25]:
list1.sort()

In [27]:
list1

[4, 5, 23, 32, 43, 54, 65, 67, 76]

In [28]:
list.remove(2)

In [30]:
list.remove('Vikas')

In [31]:
list

[4, 6, 7, 8, 45, 2.323, True, False, 0, 1, [4, 5, 7, 9, 3], 46]

In [32]:
list.pop(7)

False

In [33]:
list

[4, 6, 7, 8, 45, 2.323, True, 0, 1, [4, 5, 7, 9, 3], 46]

In [34]:
list.pop(2)

7

In [36]:
list2 = list1

In [37]:
list2

[4, 5, 23, 32, 43, 54, 65, 67, 76]

In [38]:
list1.append(45)

In [39]:
list1

[4, 5, 23, 32, 43, 54, 65, 67, 76, 45]

In [40]:
list2

[4, 5, 23, 32, 43, 54, 65, 67, 76, 45]

In [41]:
for i in list:
    print(i)

4
6
8
45
2.323
True
0
1
[4, 5, 7, 9, 3]
46

In [43]:
list = []
for i in list2:
    list.append(i)
    
print(list)

[4, 5, 23, 32, 43, 54, 65, 67, 76, 45]

In [48]:
list = [i for i in (list2)]
print(list)

[4, 5, 23, 32, 43, 54, 65, 67, 76, 45]

In [49]:
sqrs = [i**2 for i in list]

In [50]:
sqrs

[16, 25, 529, 1024, 1849, 2916, 4225, 4489, 5776, 2025]

In [53]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sqr_list = [i**2 for i in list if i%2 == 0]

print(sqr_list)

[4, 16, 36, 64, 100]

In [54]:
# to find and print proper divisors for a given number

num = int(input("Enter Number"))
proper_div = []
if num>1:
    for i in range(2,num):
        if (num%i==0):
           proper_div.append(i)

print(proper_div)

[3, 5, 9, 15]

In [55]:
# To print the first 10 fibonacci series nuimbers
fibo = []
a, b = 0, 1
fibo.append(a)
fibo.append(b)
count = 0
while(count<10):
    c = a+b
    fibo.append(c)
    a = b
    b = c
    count +=1

print(fibo)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [79]:
prime_nums = []
for num in range(1,1001):
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
            prime_nums.append(num)
            
print(prime_nums)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [ ]:
list = [[1,3,4,5,7,8], [4,6,0,7,8,9],[5,8,0,5,3,5]]

In [81]:
list[0]

[1, 3, 4, 5, 7, 8]

In [83]:
list[0][0]

1

In [84]:
list[0][0:5]

[1, 3, 4, 5, 7]

In [86]:
list[1][3:5]

[8, 9]

In [87]:
tuple = (3,4,5,6,7)

In [88]:
tuple.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [89]:
tuple.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [90]:
tuple[0]

3

In [91]:
tuple[0:2]

(3, 4)

In [96]:
dict = {'names': ['Ashish', 'Sachin'],
        'age' : [21,43],
        'grades' : ['A','C']}

dict.keys()

dict_keys(['names', 'age', 'grades'])

In [97]:
dict['names']

['Ashish', 'Sachin']

In [98]:
dict['last_names'] = ['Nehra', 'Tendulkar']

In [99]:
dict.keys()

dict_keys(['names', 'age', 'grades', 'last_names'])

In [100]:
dict['names'] = ['Kapil', 'AZHAR']

In [101]:
dict

{'names': ['Kapil', 'AZHAR'],
 'age': [21, 43],
 'grades': ['A', 'C'],
 'last_names': ['Nehra', 'Tendulkar']}

In [102]:
dict.pop('names')

['Kapil', 'AZHAR']

In [103]:
dict.keys()

dict_keys(['age', 'grades', 'last_names'])

In [105]:
set ={32,32,43,556,54,33,54,45,6,5,64}

In [106]:
set

{5, 6, 32, 33, 43, 45, 54, 64, 556}

In [109]:
for s in set:
    print(s)

32
33
64
5
6
43
556
45
54

In [108]:
set

{5, 6, 32, 33, 43, 45, 54, 64, 556}

In [2]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())

# Generate the list using list comprehension
result = [[i, j, k] 
          for i in range(x + 1)
          for j in range(y + 1) 
          for k in range(z + 1) 
          if i + j + k != n]

print(result)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

In [ ]:
lista = ['q','r','r','d','f']
listb = [4,5,6,7,8]


output = []

for i in range(len(lista)):
        output.append([lista[i], listb[i]])

print(output)

# Cria a lista resultante
#output = [[lista[0], 3]] + [[char, num] for char, num in zip(lista[1:], listb)]

#print(output)

[['q', 4], ['r', 5], ['r', 6], ['d', 7], ['f', 8]]